name: Deploy to GitHub Pages

on:
  push:
    branches: 'main'

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Install dependencies
        run: npm install
        
      - name: Build
        # This part tells GitHub to use your secret key during the build
        run: npm run build
        env:
          VITE_WEB3FORMS_KEY: ${{ secrets.VITE_WEB3FORMS_KEY }}
          
      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          path: dist/
          
      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v4